.itinerant-nur-current {
  padding: 0 24px 0 24px;
  .itinerant-flow-chart {
    width: 100%;
    height: 100px;
    margin-bottom: 96px;
  }

  .resuscitation-flow-chart {
    .flow-chart {
      padding-bottom: 0;
    }
  }
}

.itinerant-nur-to-resuscitation {
  padding: 54px 48px 0 38px;

  .select-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    span {
      height: 36px;
      font-size: 36px;
      font-weight: 600;
      text-align: left;
      color: #000000;
      line-height: 36px;
    }
  }
  .select-address {
    height: 36px;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    color: #000000;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .room-select {
    display: flex;
    margin-bottom: 48px;

    > div {
      width: 100%;
      height: 120px;
      border-radius: 6px;
      background: #f7f7f7;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      >img {
        display: none;
      }

      &:not(:first-child) {
        margin-left: 12px;
      }

      &.is-active {
        background: #e1f5fd;
        color: var(--ihybrid--primary-color);
        border: 1px solid #2ebdff;

        img {
          width: 48px;
          height: 48px;
          display: block;
          position: absolute;
          right: -1px;
          bottom: -1px;
        }
      }
    }
  }

  .ihybrid-button-group {
    margin-bottom: 72px;
  }
}
