.room-detail {
  @extend .page-bg-line;
  @extend .flex-100-persent;

  .room-detail-content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
    margin-bottom: 12px;

    .van-pull-refresh {
      height: 100%;
      overflow: initial;
    }

    .flow-chart {
      padding-right: 72px;
    }
  }
}
