.surgical-summary {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;
  .surgical-summary-item {
    &:active {
      background: rgba(0, 0, 0, 0.4);
    }
    width: calc(50% - 12px);
    height: 239px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 12px 20px 0px rgba(217, 220, 221, 0.5);
    margin-bottom: 24px;
    margin-left: 24px;
    padding: 0 30px;

    &:nth-child(2n -1) {
      margin-left: 0;
    }

    .surgical-summary-item_title {
      margin-top: 32px;
      font-size: var(--ihybrid--default-font-size);
      height: var(--ihybrid--default-font-size);
      line-height: var(--ihybrid--default-font-size);
      color: var(--ihybrid--default-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .surgical-summary-item_title_status {
        color: #3bdc37;
      }
    }

    .surgical-summary-item_middle {
      overflow: hidden;
      .surgical-summary-item_status {
        display: inline-block;
        margin-top: .2rem;
        float: right;
      }

      .surgical-summary-item_number {
        font-size: 72px;
        font-weight: 600;
        text-align: left;
        color: #333333;
        margin-top: 20px;
        line-height: 1;
        float: left;
        .surgical-summary-item_number_status {
          font-family: PingFangSC, PingFangSC-Semibold;
          font-size: 72px;
          height: 72px;
          line-height: 1;
        }
        .surgical-summary-item_number_status_CN {
          margin-top: 4px;
          font-size: var(--ihybrid--font-size--48);
          height: var(--ihybrid--font-size--48);
          line-height: 1;
          display: block;
        }
        .surgical-summary-item_number_count {
          color: var(--ihybrid--default-label-color);
          font-size: 36px;
          height: 40px;
          line-height: 40px;
        }
      }
    }

    .surgical-summary-item_bottom {
      overflow: hidden;
      margin-top: 27px;

      .surgical-summary-item_label {
        float: left;
        margin-right: 12px;
        color: var(--ihybrid--default-label-color);
        height: var(--ihybrid--default-font-size);
        line-height: var(--ihybrid--default-font-size);
        font-size: var(--ihybrid--default-font-size);
      }

      .surgical-summary-item_msg {
        float: left;
        line-height: var(--ihybrid--default-font-size);
        font-size: var(--ihybrid--default-font-size);
        color: var(--ihybrid--default-color);
        width: calc(100% - 60px);
      }

      .surgical-summary-item_msg_danger {
        @extend .surgical-summary-item_msg;
        color: var(--ihybrid--danger-color)!important;
        font-weight: var(--ihybrid--important-weight);
      }

    }

    .surgical-summary-item_bottom_status_CN {
      @extend .surgical-summary-item_bottom;
      margin-top: 48px;
    }
  }
}

.refresh-option {
  position: fixed;
  right: 0;
  top: 86px;
  width: 87px;
  height: 130px;
  border: 1px solid #c0ebff;
  border-radius: 12px 0px 0px 12px;
  background: #c0ebff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00acf2;
  opacity: 0.9;
  i {
    font-size: 30px;
    width: 29px;
    height: 30px;
    margin-bottom: 9px;
  }
  .refresh-option-title {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #00acf2;
    line-height: 20px;
  }
}
