.done-summary {
  width: 624px;
  height: 216px;
  background: linear-gradient(0deg,#fafdff, #d3eeff);
  border-radius: 12px;
  margin: 0 auto;

  .done-summary-title {
    padding: 30px 0 0 24px;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 36px;
  }

  .done-summary-list {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      ._value {
        height: 36px;
        font-size: 48px;
        font-weight: 600;
        text-align: left;
        color: #333333;
        line-height: 36px;
      }

      ._label {
        margin-top: 18px;
        opacity: 0.7;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
      }
    }

  }
}
