.expand-card {
  width: 100%;
  border-radius: 12px;
  background: #fff;
  // height: 460px;
  margin-bottom: 24px;
  transition: 0.2s ease-in-out;

  .expand-card-content {
    height: 400px;
    overflow: hidden;
    &.expaned {
      height: calc(100% - 72px);
    }
    .expand-card-list {
      padding: 0 24px;
    }
  }

  .expand-card-todo {
    height: 72px;
    border-top: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--ihybrid--default-font-size);
    color: #999;
    .iconfont {
      font-size: inherit;
    }
    > span {
      margin-right: 12px;
    }
    &.opened {
      .iconfont {
        transform: rotate(180deg);
      }
    }
  }
}
