.flow-chart {
  display: flex;
  padding: 60px 36px 12px 0;
  margin-left: -24px;
  .flow-chart-item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    height: 48px;
    &:not(:first-child) {
      flex: 1;
      .flow-chart-item_title {
        margin-right: -50%;
      }
    }
    .flow-chart-circle {
      position: absolute;
      right: -24px;
      bottom: 100%;
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: var(--ihybrid--flow-chart-icon-bg);
      z-index: 2;
      .iconfont {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: #b6ddff;
        font-size: 28px;
      }
    }
    .flow-chart-line {
      height: 16px;
      background: var(--ihybrid--flow-chart-icon-bg);
      position: absolute;
      width: 100%;
      bottom: 100%;
      left: 0;
      transform: translateY(-16px);
      z-index: 1;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('~@/assets/images/steps-right.png');
      background-size: 24px 8px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .flow-chart-item_title {
      // position: absolute;
      // top: 100%;
      // left: 100%;
      margin-right: -50%;
      padding: 12px 6px;
      width: 100%;
      min-width: 48px;
      font-size: 18px;
      color: #999;
      text-align: center;
    }

    &:first-child {
      .flow-chart-item_title {
        padding: 12px 0;
      }
      .flow-chart-line {
        display: none;
      }
    }
    &.is-todo {
      .flow-chart-circle {
        .iconfont {
          color: #5bc7f9;
        }
      }
      .flow-chart-item_title {
        color: #333;
      }
    }
    &.is-current {
      .flow-chart-circle {
        background: var(--ihybrid--flow-chart-icon-active-bg);
        .iconfont {
          color: #fff;
        }
      }
      .flow-chart-line {
        background-image: url('~@/assets/images/steps-right-active.png');
      }
      .flow-chart-item_title {
        color: var(--ihybrid--active-color);
      }
    }
  }
}
