.key-value-block {
  &.is-clear {
    background: #fff;
    margin-bottom: 30px;
    .key-value-block-label {
      background: #fff;
    }
    .key-value-block-value {
      background: #fff;
    }
  }
  &:not(.is-clear) {
    box-shadow: 0px 12px 20px 0px rgba(217,220,221,0.5);
  }
  display: flex;
  margin:44px -24px 36px -24px;
  align-items: center;
  background: #e1f6fd;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
  // box-shadow: 0px 12px 20px 0px rgba(217,220,221,0.50);
  zoom: 1;
  .key-value-block-label {
    width: 144px;
    padding: 18px 24px;
    line-height: 24px;
    flex-shrink: 0;
    text-align: center;
    font-weight: 500;
    background: #e1f6fd;
    color: var(--ihybrid--primary-color);
  }
  .key-value-block-value {
    flex: auto;
    height: 100%;
    padding: 18px 24px;
    line-height: 1.2;
    min-height: 60px;
    background: #f0fafe;
    color: var(--ihybrid--default-color);

    div {
      white-space: normal;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
    }
  }
}
