div,
span {
  box-sizing: border-box;
}
body {
  color: #333;
  overflow: hidden;
  font-family: PingFangSC, sans-serif, Hiragino Sans GB，Noto Sans SC;
}
// 操作按钮
.btn-operation {
  background: linear-gradient(47deg, #00d6fa 8%, #00acf2 90%);
  box-shadow: 0px 10px 20px 0px #9dd9ff;
}
