/* 整体布局相关的样式 */
.exclude-bar-height{
  //排除头部后撑满屏幕
  .page-container{
    height: calc(100vh - 92px);
    padding-top: 24px;
  }
  .page-container-with-bar{
    height: calc(100vh - 168px);
    padding-top: 24px;
  }
}
.page-padding{
  padding: 0 24px 12px 24px;
}
