.app-isReady {
  @extend .position-center;
  background: #fff;
}
.pda-views {
  @extend .page-bg-line-bar;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .nab-bar {
    .van-nav-bar .van-icon {
      color: var(--ihybrid--default-color);
    }
  }

  .van-tabs {
    display: flex;
    height: calc(100vh - 70px);
    flex-direction: column;

    .van-tabs__content {
      flex: 1;
      overflow-y: auto;
      padding: 24px 0 0 0;

      .van-tab__pane {
        height: 100%;
        .van-pull-refresh {
          height: 100%;
          overflow-y: auto;
        }
      }

      .task-view-contet {
        padding-top: 48px;
      }
      .van-pull-refresh__track {
        //overflow-y: auto;
      }
    }
  }
}
