.pda-views {
  background: linear-gradient(to bottom,#eff8fe 0%, #f3f8fb 190px ,#f8f8f8 210px,#f9f9f9 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  .nab-bar {
    .van-nav-bar .van-icon {
      color: var(--ihybrid--default-color);
    }
  }

  .van-tabs {
    display: flex;
    height: calc(100vh - 88px);
    flex-direction: column;

    .van-tabs__content {
      flex: 1;
      overflow-y: auto;
      padding: 20px;

      .van-tab__pane {
        height: 100%;
        .van-pull-refresh {
          height: 100%;
        }
      }

      .task-view-contet {
        padding-top: 48px;

        .van-pull-refresh__track {
          overflow-y: auto;
        }
      }
    }
  }
}
