.task-view {
  display: flex;
  flex-direction: column;
  .task-view-header {
    min-height: 174px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 12px;
    position: relative;
    box-shadow: 2px 2px 2px 2px #d9dcdd;

    .task-view-line {
      height: 30px;
      width: 100%;
      position: absolute;
      bottom: -21px;
      .task-line-block-left {
        position: absolute;
        width: 10px;
        height: 100%;
        border-radius: 4px;
        background: #fff;
        box-shadow: 1px 2px 2px 2px #ccc;
        left: 48px;
      }

      .task-line-block-right {
        @extend .task-line-block-left;
        left: auto;
        right: 48px;
      }
    }
  }
  .task-view-contet {
    min-height: 200px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 40px;
    padding: 0 24px;
    box-shadow: 2px 2px 2px 2px #d9dcdd;
  }
}
