:root {
  // bg
  --ihybrid--transparent--bg: transparent;
  --ihybrid--flow-chart-icon-bg: #EEF7FF;
  --ihybrid--flow-chart-icon-active-bg: #05DD00;

  // color
  --ihybrid--primary-color: #49abec;
  --ihybrid--default-color: #333;
  --ihybrid--default-label-color: #999;
  --ihybrid--danger-color: #FF0000;
  --ihybrid--active-color: #05DD00;

  // size
  --ihybrid--default-font-size: 24px;
  --ihybrid--important-weight: 500;
}

.page-bg-line-bar {
  background: linear-gradient(to bottom,#eff8fe 0%, #f3f8fb 190px ,#f8f8f8 210px,#f9f9f9 100%);
}
.page-bg-line {
  background: linear-gradient(to bottom,#eff8fe 0%, #f3f8fb 100px ,#f8f8f8 120px,#f9f9f9 100%);
}

.flex-100-persent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
