:root {
  // bg
  --ihybrid--transparent--bg: transparent;
  --ihybrid--flow-chart-icon-bg: #EEF7FF;

  // color
  --ihybrid--primary-color: #49abec;
  --ihybrid--default-color: #333;
  --ihybrid--default-label-color: #999;
  --ihybrid--danger-color: #FF0000;

  // size
  --ihybrid--default-font-size: 24px;
  --ihybrid--important-weight: 500;
}
