:root {
  // bg
  --ihybrid--transparent--bg: transparent;
  --ihybrid--flow-chart-icon-bg: #eef7ff;
  --ihybrid--flow-chart-icon-active-bg: #05dd00;

  // color
  --ihybrid--primary-color: #49abec;
  --ihybrid--default-color: #333;
  --ihybrid--default-label-color: #999;
  --ihybrid--danger-color: #ff0000;
  --ihybrid--active-color: #05dd00;

  // size
  --ihybrid--default-font-size: 24px;
  --ihybrid--important-weight: 500;
}

.page-bg-line-bar {
  background: linear-gradient(
    to bottom,
    #eff8fe 0%,
    #f3f8fb 190px,
    #f8f8f8 210px,
    #f9f9f9 100%
  );
}
.page-bg-line {
  background: linear-gradient(
    to bottom,
    #eff8fe 0%,
    #f3f8fb 100px,
    #f8f8f8 120px,
    #f9f9f9 100%
  );
}

.flex-100-persent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ihybrid-button-group {
  display: flex;
  margin-bottom: 36px;
  justify-content: flex-end;
  button {
    width: 50%;

    &.default-button {
      border: 2px solid #c0ebff;
      .van-button__content {
        color: var(--ihybrid--primary-color);
      }
    }

    &.cancel-btn {
      border: 2px solid #aaa;
      color: var(--ihybrid--desfault-label-color) !important;
    }
  }
  button + button {
    margin-left: 24px;
  }
}

.ihybrid-button-center {
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  button {
    width: 300px;
    height: 90px;
  }
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
